<!DOCTYPE html> 
<html lang="en"> 

<head> 
	<title>Iris Prediction</title> 
	<meta name="author" content="ajmalbinnizam">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/images/logo1.svg" type="image/x-icon">
	<link rel="stylesheet"  type="text/css"  href="../static/css/style.css"/> 
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
</head> 
   <body>




      <div id="particles-js"> 
		
         <div class="heading"> 
            <h1>The data to quantify the morphologic variation of Iris flowers of three related species.(Iris Setosa, Iris virginica, and Iris versicolor). </h1> 
            <h2> 
               Four features were measured from each sample: the length and the width of the sepals and petals, in centimeters.
            </h2> 
           
      <form action = "result" method = "POST">
         <p>sepal-length  <input type = "text" name = "sepal-length" /></p>
         <p>sepal-width <input type = "text" name = "sepal-width" /></p>
         <p>petal-length <input type = "text" name = "petal-length" /></p>
         <p>petal-width <input type ="text" name = "petal-width" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
         </div> 
   
      </div> 
   
   
	<!-- <script type="text/javascript" src="js/particles.min.js"> 
	</script> -->
	<script src= "../static/js/particles.js"></script> 
</script> 
<script type="text/javascript" src="../static/js/app.js"> 
</script> 
</body> 

</html> 
